#choropleth {
    width: 800px;
    height: 900px;
}

.legend label,
.legend span {
    padding-top: 5px;
    display:block;
    float:right;
    height:20px;
    width:10%;
    text-align:left;
    font-size:21px;
    color:#808080;
}

.map-legends.wax-legends {
    border-style: solid;
    border-color: darkgray;
    border-width: 1px;
    right: 75px;
    bottom: 0px;
    width: 640px;
    max-width: 640px;
}