@import models.daos.slick.DBTableDefinitions.UserTable
@import models.user.User
@import models.street.StreetEdgeTable
@(title: String, user: Option[User] = None)

@main(title) {
    @navbar(user)
    <link href='@routes.Assets.at("stylesheets/lib/slick.css")' rel="stylesheet"/>
    <script src='@routes.Assets.at("javascripts/lib/slick.min.js")'></script>
    <script src='@routes.Assets.at("javascripts/lib/isInViewport.min.js")'></script>

    <!-- todo: decide whether to use lesscss or not -->
    <link href='@routes.Assets.at("stylesheets/index.less")' rel="stylesheet/less" type="text/css"/>
    <script src="//cdnjs.cloudflare.com/ajax/libs/less.js/2.7.1/less.min.js"></script>

    <!-- Fonts; todo: choose the one and remove the rest -->
    <link href="https://fonts.googleapis.com/css?family=Crete+Round" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=PT+Serif" rel="stylesheet">

    <div class="landing-page">

        <div class="landing-carousel">
            <div class="items">
                <div>
                    <img src='@routes.Assets.at("images/landing-page/carousel-1.png")' />
                </div>
                <div>
                    <img src='@routes.Assets.at("images/landing-page/carousel-2.png")' />
                </div>
            </div>
            <div class="overlay"></div>
            <div class="content">
                <h1>Help us make sidewalks more accessible. For everyone.</h1>
                <div class="icons">
                    <img src='@routes.Assets.at("images/landing-page/people.svg")' alt="Icons of wheelchair user, cane user, scooter user, and a person with a stroller" class="header-icon img-responsive center-block" align="">
                </div>
                <a href='@routes.AuditController.audit' class="participate-btn">Participate</a>
            </div>
        </div>

        <div class="section what-you-do">
            <h2>
                What You Can Do
            </h2>
            <video class="gif" src='@routes.Assets.at("videos/landing-page/what-you-do.mp4")' controls></video>
            @*<p>You can virtually walk through city streets and mark accessibility attributes.</p>*@
        </div>

        <div class="section scalability">
            <h2>
                Scalability
            </h2>
            <div class="content">
                <div class="left">
                    <img src='@routes.Assets.at("images/landing-page/scalibility.svg")' alt="scalability illustration" class="" align="">
                </div>
                <div class="right">
                    <p>
                        Your data will be used to train machine learning algorithms
                        to automatically find accessibility attributes. <br/>

                        <a href="https://youtu.be/rtHGfVFbsp8" target="_blank">
                            See Tohme
                        </a>
                    </p>
                </div>
                <div class="clearfix"></div>
            </div>
        </div>

        <div class="section applications">
            <h2>
                Applications
            </h2>
            <div class="content">
                <div class="left">
                    <img src='@routes.Assets.at("images/landing-page/applications-routeassist.svg")' alt="scalability illustration" class="" align="">
                    <p>
                        Personalized routing algorithms based on a user's mobility level.

                        <a href="btn btn-link">
                            RouteAssist
                        </a>
                    </p>
                </div>
                <div class="middle">
                    <img src='@routes.Assets.at("images/landing-page/applications-interactivemap.svg")' alt="scalability illustration" class="" align="">
                    <p>
                        Interactive maps, to show accessibility features of an area.

                        <a href="btn btn-link">
                            AccessScore
                        </a>
                    </p>
                </div>
                <div class="right">
                    <img src='@routes.Assets.at("images/landing-page/applications-api.svg")' alt="scalability illustration" class="" align="">
                    <p>
                        And lot’s of other possibilities with Sidewalk’s open API.

                        <a href="btn btn-link">
                            Sidewalk's API
                        </a>
                    </p>
                </div>
                <div class="clearfix"></div>
            </div>
        </div>

        <div class="section joinus">
            <h2>
                Join Us
            </h2>
            <p>
                Lot’s of people are helping. Our current goal is to completely mark accessibility attributes in Washington D.C.
            </p>
            <div class="stats">
                <div class="wrapper">
                    <div class="item">
                        <div class="value">@(UserTable.count)</div>
                        <div class="caption">Active Users</div>
                    </div>
                    <div class="item">
                        <div class="value">@("%.0f".format(StreetEdgeTable.auditCompletionRate(1) * 100))%</div>
                        <div class="caption">Labeled Area of D.C.</div>
                    </div>
                    <div class="item">
                        <div class="value">13k</div>
                        <div class="caption">Total Labels</div>
                    </div>
                    <div class="clearfix"></div>
                </div>
            </div>
            <br/>
            <div>
                <a href='@routes.AuditController.audit' class="participate-btn">
                    Participate
                </a>
            </div>
        </div>

    </div>

    <script>
        $(document).ready(function() {
            $('.landing-carousel .items').slick({
                dots: true,
                infinite: true,
                speed: 500,
                fade: true,
                cssEase: 'linear',
                autoplay: true,
                autoplaySpeed: 5000,
                arrows: false,
                dots: false,

            });
        });

        $(window).scroll(function() {
            $('video').each(function(){
                if ($(this).is(":in-viewport")) {
                    $(this)[0].play();
                } else {
                    $(this)[0].pause();
                }
            })
        });
    </script>
}
